/*======================================================================
Base Element Styles
=======================================================================*/
* {
    box-sizing: border-box; 
}

body {
    text-align: center; 
    background-color: lightgray; 
    width: 100%; 
    line-height: 1.6em; 
    font-family: 'PT Sans', sans-serif;
}

nav{
    font-size: 12px; 
    margin-bottom: 2em; 
    line-height: 4em;
}

p {
    font-size: 18px; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}
h2 {
    font-size: 40px;
    padding: 50px;
}

/*========================================================================
Class and ID     Layout Styles
===========================================================================*/

.container {
    margin: 25px;  
    max-width: 100%; 
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  
.uppercase {
    text-transform: uppercase; 
    font-size: 25px; 
    font-family: 'PT Sans', sans-serif;
}
.cap {
    text-transform: capitalize;
    font-size: 28px; 
}
.pic {
    max-width: 100%; 
    display: inline-block;
    width: 350px; 
    height: 200px; 
}
.face-picture {
    width: 320px; 
}
#arm {
    max-width: 100%; 
    display: inline-block; 
    width: 250px; 
    height: 150px; 
}

.name {
    color: #ff6347;
}
.name, 
.cap {
    font-size: 30px; 
}
.paragraph {
    display: inline-block; 
}

.divPortfolio {
    position: relative;
    width: 60%;
    height: 150px; 
    margin-top: 75px; 
    margin-left: 20.5%;
    margin-bottom: 25px; 
}
.childPort {
    padding: 0; 
}

.skills {
    height: 150px; 
    margin-top: 100px; 
    position: relative; 
}
#skills {
    margin-top: 0; 
    line-height: 1em; 
}
.second-list {
    line-height: 3em; 
    margin-top: 170px; 
}

.footer {
    display: inline-block; 
    width: 100%;
    color: tomato; 
    font-size: 25px; 
}
.classLeft {
    width:50%; 
    float: left;
    padding-left: 10px;  
}
.classRight {
    width: 50%;  
    float: right; 
    padding-right: 10px;
}
    
a:hover {
    background-color: white; 
}
.hide {
    display: none; 
}

/*========================================================================
Media Queries
===========================================================================*/

/*========================================================================
Media Queries
===========================================================================*/
@media(min-width: 768px){
    
    body {
        background-color: lightpink; 
    }
    
.first-list li {
    display: inline-block; 
    font-size: 18px;  
    padding-right: 40px; 
}
.second-list li {
    display: block; 
    font-size: 18px; 
}
.divPortfolio {
    margin-top: 250px;  
}
.skills {
    margin-top: 1300px; 
  
}

.mark {
    width: 50%; 
    float: left; 
    display: inline-block;
    padding-right: 15px; 
}
.search {
    width: 50%; 
    float: right; 
    display: inline-block; 
    padding-left: 15px; 
}
.travel {
    width: 50%; 
    float: left; 
    display: inline-block;
    padding-right: 15px; 
    clear: both; 
}
.spots {
    width: 50%; 
    float: right; 
    display: inline-block; 
    padding-left: 15px; 
}
.photo {
    width: 50%; 
    float: left; 
    display: inline-block;
    padding-right: 15px; 
}
.calc {
    width: 50%; 
    float: right; 
    display: inline-block; 
    padding-left: 15px;  
}


.classRight {
    display: none; 
}
.footer {
    width: 30%; 
}
.classLeft {
    width: 55%; 
}
nav.hide {
    display: inline-block; 
    width: 70%;  
    padding-right: 0;  
    text-align: right; 
    float: right; 
}

.hide ul li {
    font-size: 18px; 
    display: inline; 
}
.repeat-list {
    font-size: 18px; 
}
.repeat-list li {
    padding: 20px; 
}
.face-picture {
    width: 40%;
    float: right; 
    display: inline-block;
}
.paragraph-change {
    width: 50%;
    float: left; 
    display: inline-block; 
    margin-top: 0; 
}
.footer {
    position: relative; 
}




}

/*========================================================================*/
@media(min-width: 1024px){
    
    body {
        background-color: lightgreen; 
    }
    .home {
        position: relative; 
        height: 100px; 
        width: 100%; 
    }
    .name {
        position: absolute; 
        left: 60px; 
        top: 0;
        font-size: 20px; 
    }
    .first-list {
        position: absolute; 
         left: 200px; 
         margin: 0;
    }
    .first-list li {
        font-size; 12px; 
    }
    .try-relative {
        position: absolute; 
        top: 0; 
        right: 0; 
        margin: 0; 
        height: 50px; 
        width: 800px; 
    }
    .mark {
        width: 33%; 
        float: left; 
        display: inline-block;
        padding-right: 15px; 
    }

  .search {
        width: 33%; 
        display: inline-block;
        padding-right: 15px; 
        float: left; 
    }  
    .travel {
        width: 33%; 
        float: right; 
        clear: right; 
        display: inline-block;
        padding-right: 15px;  
    }
    .spots {
        width: 33%; 
        float: left; 
        clear: left; 
        display: inline-block;
        padding-right: 15px;  
    }
    .photo {
        width: 33%; 
        float: left; 
        display: inline-block;
        padding-right: 15px;  
    }
    .calc {
        width: 33%; 
        float: right; 
        display: inline-block;
        padding-right: 15px;  
    }
    .cl-skills {
        background-color: yellow; 
        width: 100%; 
        margin-top: 0; 
    }
    .img-skills {
        height: 200px; 
        width: 200x; 
    }
    .skills {
        margin-top: 900px; 
    }
    
    
}




